/* fonts */

body {
	font-family: Open Sans;
}

h1, h2, h3 {
	font-family: Source Serif Pro;
}

h1 a {
	font-family: Dancing Script;
}

.wrapper {
	max-width: 100rem;
	margin: 0 auto;
}

/* HEADER */

#topbar {
	background-color: #e5e3e3;
}

#topbar .wrapper {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

#topbar ul {
	list-style: none;
	font-size: 1.3rem;
	letter-spacing: 1.5rem;
	display: flex;
	flex-flow: row nowrap;
}

h1 a {
	text-decoration: none;
	font-size: 4rem;  
	color: #000;

}

.wrapper ul {
	list-style: none;
	display: flex;
	flex-flow: row nowrap;
	font-size: 1.5rem;
	font-weight: bold;
}

.wrapper li {
	padding-left: 1rem;
}

.wrapper li a {
	text-decoration: none;
	color: #000;
}

header .wrapper {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	padding-bottom: 4rem;
	padding-top: 2rem;
}

header .wrapper ul {
	padding-top: 4rem;
}

/* Banner */

#banner {
	background-image: url(../img/seoul_skyline.jpg);
	background-position: center;
	background-repeat: no-repeat;
	padding-bottom: 20rem;
}	

#banner .wrapper a{
	text-decoration: none;
	list-style: none;
	color: #FFF;
}

#banner .wrapper {
	color: #FFF;
	padding-left: 3rem;
}

#banner .wrapper p {
	padding-bottom: 5rem;
	font-size: 1rem;
}

#banner .wrapper h2 {
	padding-bottom: 4rem;
	font-size: 3.5rem;
}

#banner .wrapper a {
	font-size: 1.5rem;
	text-transform: uppercase;
	border: solid;
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-left: 2.5rem;
	padding-right: 2.5rem;
}

/* main left */

.wrapper .main_left {
	font-size: 2rem;
}

.wrapper .main_left h3 {
	border-bottom: solid;
	border-bottom-color: orange;
}

.wrapper .main_left article {
	background-color: lightgrey;
	margin-bottom: 4rem;
}