/* fonts */

body {
	font-family: Open Sans;
}

h1, h2, h3 {
	font-family: Source Serif Pro;
}

h1 a {
	font-family: Dancing Script;
}

/* HEADER */

.topbar {
	display: flex;
	flex-flow: row nowrap;
}