html{
    background-color: #d3d3d3;
}

/* ==========
   Navigation
   ========== */
   header .wrapper{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

h1{
    margin-right: 12rem;
}

nav ul{
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    font-size: 2rem;
}

nav li{
    margin-left: 1.5rem;
}

nav a:hover{
    color:#0099ff;
    transition: 0.5s;
}

nav a{
   text-decoration: none;
   color: #000000;
}

/* ==========
   Products
   ========== */

.webshop h4{
display: flex;
justify-content: center;
margin-right: 64rem;
font-size: 4rem;
border-bottom: solid #000000;
}

.phones{
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.phones img{
    max-width: 25rem;
    max-height: 20rem;
    margin-right: 10rem;
}

.SamsungPhone1 p{
    font-weight: bold;
    margin-top: 3rem;
    margin-left: 8rem;
}

.IphonePhone1 p{
    font-weight: bold;
    margin-left: 6rem;
}

.OnePlusPhone1 p{
    font-weight: bold;
}

.HuaweiPhone1 p{
    font-weight: bold;
}

.OnePlusPhone2 img{
    margin-top: 10rem;
    margin-left: 2rem;
}

.OnePlusPhone2 p{
    font-weight: bold;
    margin-left: 4rem;
}

.SamsungPhone2 img{
    margin-top: 10rem;
}

.SamsungPhone2 p{
    font-weight: bold;
    margin-left: 5rem;
}

.HuaweiPhone2 img{
    margin-top: 10rem;
}

.HuaweiPhone2 p{
    font-weight: bold;
    margin-left: 3rem;
}

.OnePlusPhone3 img{
    margin-top: 10rem;
}

.OnePlusPhone3 p{
    font-weight: bold;
    margin-left: 3rem;
}