/**
 * Index stylesheet for Mutw
 *
 * @author      Rogier van der Linde <rogier.vanderlinde@kahosl.be>
 *
 */

/* =============================================
 * LAYOUT
 =============================================== */

main .wrapper {
	display: flex;
	flex-flow: row nowrap;	
}

main .column {
	width: 30%;
}

main .column + .column {
	margin-left: 5%;
}

/* =============================================
 * BANNER
 =============================================== */

 #banner{
 	background-color: #62717d;
 	text-align: center;
 	color: white;
 	padding-top: 10rem;
 	padding-bottom: 1rem;
 }

/* =============================================
 * MAIN
 =============================================== */

h3{
	font-size: 3rem;
	padding-top: 4rem;
	padding-bottom: 1rem;
	text-decoration: underline;
	text-underline-position: under;
	text-decoration-color: orange;
}