/**
 * Index stylesheet for Mutw
 *
 * @author      Rogier van der Linde <rogier.vanderlinde@kahosl.be>
 *
 */

/* =============================================
 * LAYOUT
 =============================================== */

main .wrapper {
	display: flex;
	flex-flow: row nowrap;	
}

main .column {
	width: 30%;
}

main .column + .column {
	margin-left: 5%;
}

/* =============================================
 * BANNER
 =============================================== */

 #banner .wrapper {
     background-color: #62717d;
     padding-top: 18rem;
     padding-bottom: 3rem;
     background-image: url(../img/mutwhero.png);
     background-repeat: no-repeat;
     background-position: center;
     background-size: 32%;
 }


#banner h2 {
    text-align: center;
    font-weight: 200;
    font-size: 2.4rem;
    text-transform: uppercase;
    color: #eee;

/* =============================================
 * MAIN
 =============================================== */

.lnk_more{
    border-radius: 10%;
    float: right;

}

a.lnk_more::after{

    content: "»";
}

a.lnk_more:hover{
    color: white;
    background-color: orange;
    transition: background 0.2s, color 0.2s ease-in-out;
}

main > div > section:last-child {
    text-align: center;
}

a.facebook {

    background: url("/img/icon_facebook.png");
    background-size: 100% 100%;
    display: block;
    overflow: hidden;
    text-indent: 100%;
    height: 4rem;
    width: 4rem
}

a.twitter {

    background: url("../img/icon_twitter.png");
    background-size: 100% 100%;
    display: block;
    overflow: hidden;
    text-indent: 100%;
    height: 4rem;
    width: 4rem
}

a.pinterest {

    background: url("../img/icon_pinterest.png");
    background-size: 100% 100%;
    display: block;
    overflow: hidden;
    text-indent: 100%;
    height: 4rem;
    width: 4rem
}