/**
 * General stylesheet for Mutw
 *
 * @author Rogier van der Linde <rogier.vanderlinde@kahosl.be>
 *
 */

/* =============================================
 * GENERAL
 =============================================== */
	
body {
	color: #222;
	font-family: Open Sans;
	font-size: 1.3rem;
	height: 0.24rem;
}

h2 {
	font-weight: normal;
	font-family: Exo;
}

h3 {
	font-weight: normal;
	font-family: Exo;
	color: #3d5aac;
}

/* =============================================
 * LAYOUT
 =============================================== */

.wrapper {
	max-width: 96rem; 
	margin: 0 auto; /* center horizontally */
}

header .wrapper {
	background-color: #485865;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: flex-start;
}


li {
	display: inline-block;
}
/* =============================================
 * HEADER
 =============================================== */
h1 a {
  background-image: url(../img/mutwhero.png); 
  background-size: 100% 100%; 
  display: block; 
  height: 16.1rem; 
  overflow: hidden;  
  text-indent: 100%; 
  white-space: nowrap; 
  width: 21.4rem;
}

header {
	background-color: #485865;
}

header a{
	color: white;
}

/* =============================================
 * DOORMAT
 =============================================== */
#doormat {
	background-color: #62717d;
}

#doormat a{
	color: white;
}

#doormat a:hover{
	text-decoration: none;
}

#doormat ul{
	margin: 0 auto;
}


/* =============================================
 * FOOTER
 =============================================== */

footer{
	letter-spacing: 2px;
}